@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("currency.jpg");
  background-size: cover;
  justify-content: center;
}


.heading{
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  color: white;
  display: flex;
  justify-content: center;
}
h1{
  margin: 0px 10px;
}

.content{
  background: rgba(15, 14, 14, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(15, 14, 14, 0.85);
    padding: 0px 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-self:center;
  
    
    
  }
@media (min-width:700px) { 
  
.container{
  height: 150px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  
}
}
@media (max-width:699px){

  .container{
    height: 250px;
    margin: auto;
    
    
    align-items: center;
    
    
  }
}
.non-left{
  height: 150px;
  width:400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
input{
  
  font-size: 20px;
  height: 36px;

}
.middle,.right{
  width: 120px;
}
.switch{
  padding: 5px;
  margin-top: 25px;
  background-color: rgb(77, 66, 69);
  border-radius: 50%;
  cursor: pointer;
}
.result{
  box-sizing: border-box;
  
  margin: auto;
  justify-content: space-between;
  
}
button{
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid rgb(53, 38, 42);
  background-color: rgb(128,128,128);
  cursor: pointer;
  align-self: center;
  
}
p,h3, button, .switch{
  color: white;
}
h2{
  color: white;
  font-weight: bold;
}
p{
  font-size: 30px;
  font-weight: bold;
}
.convert{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}
